# BrowserStack Credentials
BROWSERSTACK_USERNAME=your_browserstack_username
BROWSERSTACK_ACCESS_KEY=your_browserstack_access_key

# BrowserStack App IDs
# Faça upload do seu app no BrowserStack e cole o ID aqui
BROWSERSTACK_APP_ID=bs://your_android_app_id
BROWSERSTACK_APP_ID_IOS=bs://your_ios_app_id

# Environment
ENV=dev

# Platform
PLATFORM=Android

# GitLab CI/CD Variables (definidas no GitLab)
# CI_COMMIT_SHORT_SHA
# CI_PIPELINE_URL
# CI_JOB_URL
